/*----Menu */
.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-active::after {
  color: var(--venice_blue);
  border-bottom-color: var(--lightning_yellow);
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom-color: var(--lightning_yellow);
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
  color: var(--venice_blue);
}
.ant-menu-horizontal {
  border-bottom: 0;
}

.ant-menu {
  flex: auto;
}

.ant-btn-menu {
  color: var(--venice_blue);
  background-color: transparent;
  border-radius: 0px;
}
.ant-btn-menu:hover {
  color: var(--venice_blue);
  border-bottom: 1.5px solid;
  border-bottom-color: var(--lightning_yellow);
}

/*---Card */

.ant-card .ant-card-body {
  padding: 24px;
  border-radius: 0 0 8px 8px;
}

.ant-card .ant-card-cover img {
  max-width: 300px;
  border-radius: 8px 8px 0 0;
  margin: auto;
  display: block;
}
.ant-card-bordered {
  background-color: var(--alabaster);
}

.ant-card-hoverable {
  cursor: pointer;
  transition: box-shadow 0.2s, border-color 0.2s;
}
.ant-card-hoverable:hover {
  border: 1px solid var(--lightning_yellow);
}

.carousel-content {
  height: "160px";
  color: "#fff";
  background: "#364d79";
}

/*---Modal */

.ant-modal-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.ant-modal {
  display: block;
}

.ant-btn .ant-btn-icon {
  display: inline-flex;
  align-items: center;
}

.ant-form-item-feedback-icon {
  display: inline-flex;
  align-items: center;
}

/*---Sider  */

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: 0px;
}
.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px;
}

/*---Button  */
.ant-btn-primary {
  background-color: var(--venice_blue) !important;
}

/*---Input  */
.ant-input-lg {
  font-family: "averiaseriflibre_regular", Fallback, sans-serif;
}

/*-- subscription button  */
.subs-btn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: var(--lightning_yellow);
  border: 1px solid var(--lightning_yellow);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.subs-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--lightning_yellow);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.subs-btn:hover::before {
  scale: 3;
}

.subs-btn:hover {
  color: var(--venice_blue);
  scale: 1.2;
  box-shadow: 0 0px 40px var(--lightning_yellow);
}

.subs-btn:active {
  scale: 1;
}
