/*----------------------------------- Responsive -----------------------------------*/

@media screen and (max-width: 455px) {
  .nav_header a {
    padding: 13px;
  }

  .title,
  .header_home h1, .header_home h2 {
    font-size: 24px;
  }

  .parag_style, .parag_style p {
    font-size: 14px;
  }

  .category_details {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 25px;
  }

  .header_home img {
    width: 70%;
    margin: auto;
    padding-top: 25px;
  }

  .content_list_learn {
    display: block;
  }

  .list_learn .col-lg-6:first-of-type {
    margin-bottom: 25px;
  }

  .why_taamarbouta {
    margin: 0;
  }

  .why_taamarbouta h3 {
    font-size: 21px;
  }

  footer p {
    font-size: 14px;
  }

  .why_taamarbouta .col-lg-4 {
    margin-top: 45px;
  }

  .logo_footer {
    width: 60px;
    margin: auto;
    display: table;
    padding-bottom: 25px;
  }

  .follow_us {
    margin-top: 25px;
  }

  .carre_square {
    margin: 25px 30px 15px;
  }

  header .header_one {
    width: 35%;
  }

  header .header_two {
    width: 25%;
  }

  header .header_three {
    width: 40%;
  }

  .list_learn h2 {
    font-size: 26px;
    margin-bottom: 0;
  }

  header {
    padding: 5px;
  }

  .compte_cart .icon_compte {
    margin-right: 15px;
  }

  .logo {
    margin: auto;
  }

  .img_list_learn {
    width: 100%;
  }

  /*-- page_category */
  .titre, .entry-header h1 {
    font-size: 32px;
  }

  .page_category li {
    width: 100% !important;
  }

  .espace_padding {
    padding-left: 15px;
    padding-right: 15px;
  }

   /*-- list_student */
   .page_style .list_student {
      column-count: initial;
      -moz-column-count: initial;
      -webkit-column-count: initial;
   }

   .page_style .list_student li:not(:last-of-type) {
      margin-bottom: 45px;
   }

   .page_style .list_student a {
    font-size: 16px;
   }

   .page_style .list_student .img_icon {
      width: 85px;
      height: 85px;
      font-size: 50px;
   }

   .full_espace_padding {
    padding: 60px 15px;
   }

  /*-- about */
  .aboutus_page {
    padding-bottom: 0;
  }

  /*-- contactus_page  */
  .contactus_page .product_form {
    margin-top: 45px;
  }

  .contactus_page {
    padding: 60px 15px;
  }

  .contactus_page ul a, .contactus_page ul span {
    font-size: 16px;
  }

  .page_checkout, .style_form#customer_login {
    padding: 0 15px;
  }
}

@media screen and (max-width: 599px) and (min-width: 456px) {
  .nav_header a {
    padding: 13px;
  }

  .title,
  .header_home h1, .header_home h2 {
    font-size: 24px;
  }

  .parag_style, .parag_style p {
    font-size: 14px;
  }

  .category_details {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 25px;
  }

  .header_home img {
    width: 70%;
    margin: auto;
    padding-top: 25px;
  }

  .content_list_learn {
    display: block;
  }

  .list_learn .col-lg-6:first-of-type {
    margin-bottom: 25px;
  }

  .why_taamarbouta {
    margin: 0;
  }

  .why_taamarbouta h3 {
    font-size: 21px;
  }

  footer p {
    font-size: 14px;
  }

  .why_taamarbouta .col-lg-4 {
    margin-top: 45px;
  }

  .logo_footer {
    width: 60px;
    margin: auto;
    display: table;
    padding-bottom: 25px;
  }

  .follow_us {
    margin-top: 25px;
  }

  .carre_square {
    margin: 25px 30px 15px;
  }

  header .col-lg-6 {
    width: 50%;
  }

  header .col-lg-3 {
    width: 25%;
  }

  .list_learn h2 {
    font-size: 26px;
    margin-bottom: 0;
  }

  /*-- page_category */
  .titre, .entry-header h1 {
    font-size: 32px;
  }

  .page_category li {
    width: 100% !important;
  }

   /*-- list_student */
   .page_style .list_student {
      column-count: initial;
      -moz-column-count: initial;
      -webkit-column-count: initial;
   }

   .page_style .list_student li {
      width: 50%;
      float: left;
   }

   .page_style .list_student li:not(:last-of-type) {
      margin-bottom: 45px;
   }

   .page_style .list_student a {
    font-size: 16px;
   }

   .page_style .list_student .img_icon {
      width: 85px;
      height: 85px;
      font-size: 50px;
   }

  /*-- about */
  .aboutus_page {
    padding-bottom: 0;
  }

  /*-- contactus_page  */
  .contactus_page .product_form {
    margin-top: 45px;
  }

  .contactus_page {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 767px) and (min-width: 600px) {
  .nav_header a {
    padding: 13px;
  }

  .title,
  .header_home h1, .header_home h2 {
    font-size: 32px;
  }

  .parag_style, .parag_style p {
    font-size: 14px;
  }

  .category_details {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 25px;
  }

  .header_home img {
    width: 70%;
    margin: auto;
    padding-top: 25px;
  }

  .content_list_learn {
    display: block;
  }

  .list_learn .col-lg-6:first-of-type {
    margin-bottom: 25px;
  }

  .why_taamarbouta {
    margin: 0;
  }

  .why_taamarbouta h3 {
    font-size: 21px;
  }

  footer p {
    font-size: 14px;
  }

  .why_taamarbouta .col-lg-4 {
    margin-top: 45px;
  }

  .logo_footer {
    width: 60px;
    margin: auto;
    display: table;
    padding-bottom: 25px;
  }

  .follow_us {
    margin-top: 25px;
  }

  .carre_square {
    margin: 25px 30px 15px;
  }

  /*-- page_category */
  .titre, .entry-header h1 {
    font-size: 32px;
  }

   /*-- list_student */
   .page_style .list_student {
      column-count: initial;
      -moz-column-count: initial;
      -webkit-column-count: initial;
   }

   .page_style .list_student li {
      width: 50%;
      float: left;
   }

   .page_style .list_student li:not(:last-of-type) {
      margin-bottom: 45px;
   }

   .page_style .list_student a {
    font-size: 16px;
   }

   .page_style .list_student .img_icon {
      width: 85px;
      height: 85px;
      font-size: 50px;
   }

  /*-- about */
  .our_philosphy h3 {
    font-size: 24px;
  }

  .aboutus_page {
    padding-bottom: 0;
  }

  /*-- contactus_page  */
  .contactus_page .product_form {
    margin-top: 45px;
  }
}

@media screen and (max-width: 928px) and (min-width: 768px) {
  .nav_header a {
    padding: 13px;
  }

  .title,
  .header_home h1, .header_home h2 {
    font-size: 32px;
  }

  .parag_style, .parag_style p {
    font-size: 14px;
  }

  .category_details {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 25px;
  }

  .header_home img {
    width: 70%;
    margin: auto;
    padding-top: 25px;
  }

  .content_list_learn {
    display: block;
  }

  .list_learn .col-lg-6:first-of-type {
    margin-bottom: 25px;
  }

  .why_taamarbouta {
    margin: 0;
  }

  .why_taamarbouta .img_list_learn {
    width: 100%;
  }

  .why_taamarbouta h3 {
    font-size: 21px;
  }

  footer p {
    font-size: 14px;
  }

  /*-- page_category */
  .titre, .entry-header h1 {
    font-size: 32px;
  }

   /*-- list_student */
   .page_style .list_student {
      column-count: initial;
      -moz-column-count: initial;
      -webkit-column-count: initial;
   }

   .page_style .list_student li {
      width: 50%;
      float: left;
   }

   .page_style .list_student li:not(:last-of-type) {
      margin-bottom: 45px;
   }

   .page_style .list_student a {
    font-size: 16px;
   }

   .page_style .list_student .img_icon {
      width: 85px;
      height: 85px;
      font-size: 50px;
   }

  /*-- about */
  .our_philosphy h3 {
    font-size: 24px;
  }

  .aboutus_page {
    padding-bottom: 0;
  }

  /*-- contactus_page  */
  .contactus_page .product_form {
    margin-top: 45px;
  }
}

@media screen and (max-width: 991px) and (min-width: 929px) {
  .nav_header a {
    padding: 13px;
  }

  .title,
  .header_home h1, .header_home h2 {
    font-size: 32px;
  }

  .parag_style, .parag_style p {
    font-size: 14px;
  }

  .category_details {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 25px;
  }

  .header_home img {
    width: 70%;
    margin: auto;
    padding-top: 25px;
  }

  .content_list_learn {
    display: block;
  }

  .list_learn .col-lg-6:first-of-type {
    margin-bottom: 25px;
  }

  .why_taamarbouta {
    margin: 0;
  }

  .why_taamarbouta .img_list_learn {
    width: 100%;
  }

  .why_taamarbouta h3 {
    font-size: 21px;
  }

  footer p {
    font-size: 14px;
  }

  /*-- page_category */
  .titre, .entry-header h1 {
    font-size: 32px;
  }

  .page_category ul.products.columns-4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
    
   .page_category ul.products.columns-4 li.product {
      width: 31.33333333%;
      margin-right: 0;
      float: none;
   }
    
   .page_category ul.products.columns-4 li.product img {
      height: initial !important;
   }

   /*-- list_student */
   .page_style .list_student {
      column-count: initial;
      -moz-column-count: initial;
      -webkit-column-count: initial;
   }

   .page_style .list_student li {
      width: 50%;
      float: left;
   }

   .page_style .list_student li:not(:last-of-type) {
      margin-bottom: 45px;
   }

  /*-- about */
  .our_philosphy h3 {
    font-size: 24px;
  }

  .aboutus_page {
    padding-bottom: 0;
  }

  /*-- contactus_page  */
  .contactus_page .product_form {
    margin-top: 45px;
  }

  /*-- list_compte */
  nav.list_compte {
    width: 25% !important;
  }

  .addresses .woocommerce-Address header h3 {
    font-size: 18px;
  }

  .page_checkout h3, .contenu_account legend {
    font-size: 21px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .nav_header a {
    padding: 13px;
  }

  .title,
  .header_home h1, .header_home h2 {
    font-size: 32px;
  }

  .parag_style, .parag_style p {
    font-size: 14px;
  }

  .category_details {
    margin-top: 0;
  }

  /*-- page_category */
  .page_category ul.products.columns-4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
    
   .page_category ul.products.columns-4 li.product {
      width: 31.33333333%;
      margin-right: 0;
      float: none;
   }
    
   .page_category ul.products.columns-4 li.product img {
      height: initial !important;
   }

   /*-- list_student */
   .page_style .list_student {
      column-count: initial;
      -moz-column-count: initial;
      -webkit-column-count: initial;
   }

   .page_style .list_student li {
      width: 50%;
      float: left;
   }

   .page_style .list_student li:not(:last-of-type) {
      margin-bottom: 45px;
   }

  /*-- about */
  .our_philosphy h3 {
    font-size: 24px;
  }

  .aboutus_page {
    padding-bottom: 0;
  }

  /*-- list_compte */
  nav.list_compte {
    width: 25% !important;
  }

  .addresses .woocommerce-Address header h3 {
    font-size: 18px;
  }

  .page_checkout h3, .contenu_account legend {
    font-size: 21px;
  }

}

@media screen and (max-width: 1365px) and (min-width: 1200px) {

  .nav_header a {
    padding: 13px;
  }

  .header_home h1, .header_home h2 {
    font-size: 46px;
  }

  .parag_style, .parag_style p {
    font-size: 14px;
  }

  .category_details {
    margin-top: 0;
  }

  /*-- about */
  .our_philosphy h3 {
    font-size: 24px;
  }

  .aboutus_page {
    padding-bottom: 0;
  }

  /*-- list_compte */
  nav.list_compte {
    width: 25% !important;
  }

  .addresses .woocommerce-Address header h3 {
    font-size: 18px;
  }

  .page_checkout h3, .contenu_account legend {
    font-size: 24px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1366px) {

}

@media screen and (max-width: 1600px) and (min-width: 1500px) {

}

@media screen and (max-width: 1200px) {
  .navigation_mobile {
    top: 0;
    bottom: 0;
    z-index: 9;
    left: -100%;
    height: 100%;
    padding: 15px;
    display: table;   
    position: fixed;
    transition: .5s;
    background: var(--alabaster);
  }

  .navigation_mobile.open { 
    left: 0;
  }

  .nav_bar {
    display: table;
  }

  .nav_header>li {
    float: none;
  }

  .nav_header .sub-menu {
    margin-left: 35px;
  }

  .nav_header .sub-menu a {
    padding: 5px;
    font-size: 14px;
  }

  .nav_header>li>a:after {
    display: none;
  }

  .nav_close {
    border: none;
    display: table;
    margin-left: auto;
    background: transparent;
  }

  .body_nav {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: fixed;
    transition: .5s;
    background: rgba(0,0,0,.5);
  }

  .body_nav.open {
    display: block;
  }
}

/*------------------------------------------------------- End Responsive -------------------------------------------------------*/
