@font-face {
  font-family: "averiaseriflibre_regular";
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf");
  font-display: swap;
}

* {
  font-family: "averiaseriflibre_regular", Fallback, sans-serif;
}

@font-face {
  font-family: "averiaseriflibre_bold";
  src: url("../fonts/Averia_Serif_Libre/AveriaSerifLibre-Bold.ttf");
  font-display: swap;
}

.averiaseriflibre_bold {
  font-family: "averiaseriflibre_bold", Fallback, sans-serif;
}

@font-face {
  font-family: "montserrat_regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-display: swap;
}

.montserrat_regular {
  font-family: "montserrat_regular", Fallback, sans-serif;
}

html,
body,
ul,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  vertical-align: baseline;
}

html {
  /*-- color */
  --white: #fff;
  --black: #000;
  --raven: #7e8188;
  --abbey: #55595c;
  --alabaster: #f7f7f7;
  --martinique: #352e47;
  --baltic_sea: #201e25;
  --venice_blue: #0b5291;
  --rolling_stone: #7b7e85;
  --lightning_yellow: #fdc012;
}

body {
  overflow-x: hidden;
}

.displayFlex {
  display: flex;
}

.align {
  display: flex;
  align-items: center;
}

.align_all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_element {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.right_element {
  display: table;
  margin-left: auto;
}

.no_padding_left {
  padding-left: 0;
}

.no_padding_right {
  padding-right: 0;
}

.hide_element {
  display: none !important;
}

.modal-open {
  overflow: hidden;
}

.cover_style {
  background-size: cover !important;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
}

.title {
  font-size: 34px;
  margin-bottom: 35px;
  color: var(--venice_blue);
  font-family: "averiaseriflibre_bold", Fallback, sans-serif;
}

.title_center {
  text-align: center;
}

.titre,
.entry-header h1,
.program_block h2 {
  padding: 0;
  font-size: 42px;
  margin-bottom: 60px;
  padding-bottom: 30px;
  color: var(--baltic_sea);
  border-bottom: 1px solid var(--alabaster);
  font-family: "averiaseriflibre_bold", Fallback, sans-serif;
}

.btn_url_blue {
  color: var(--venice_blue);
  border: 2px solid var(--venice_blue);
}

.btn_url_blue:hover,
.btn_url_blue:focus,
.btn_url_blue:active {
  color: var(--lightning_yellow);
  background: var(--venice_blue);
}

.espace_padding {
  padding-left: 50px;
  padding-right: 50px;
}

.full_espace_padding {
  padding: 60px 50px;
}

/*-- header_home */
.header_home {
  padding-top: 60px;
  background-size: cover;
}

.header_home h1,
.header_home h2 {
  font-size: 58px;
  color: var(--baltic_sea);
}

.header_home h2 {
  margin-bottom: 15px;
}

.parag_style,
.parag_style p {
  font-size: 16px;
  color: var(--raven);
  margin-bottom: 10px;
  font-family: "montserrat_regular", Fallback, sans-serif;
}

.category_details {
  padding: 20px 0;
  margin-top: 80px;
  background-color: white;
}

.category_details .parag_style p {
  text-align: center;
  color: var(--martinique);
}

.img_hover:hover button,
.img_hover:focus button,
.img_hover:active button {
  color: var(--white);
  background: var(--lightning_yellow);
}

/*-- why_taamarbouta */
.why_taamarbouta {
  margin: 40px 0;
}

.why_taamarbouta h3 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 25px;
  color: var(--venice_blue);
}

.why_taamarbouta .parag_style {
  text-align: center;
}

.why_taamarbouta button {
  width: 30px;
  height: 30px;
  margin: auto;
  border: none;
  outline: none;
  transition: 0.5s;
  border-radius: 50%;
  color: var(--white);
  background: var(--lightning_yellow);
}

.list_why_taamarbouta:hover button,
.list_why_taamarbouta:focus button,
.list_why_taamarbouta:active button {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  background: var(--venice_blue);
}

.img_footer {
  display: table;
  padding: 0 30px;
}

.carre_square {
  height: 15px;
  display: flex;
  margin: 25px 30px 45px;
  justify-content: center;
}

/*-- footer */
footer {
  padding: 30px;
}

footer h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--baltic_sea);
}

footer p {
  font-size: 16px;
  text-align: center;
  color: var(--rolling_stone);
}

/*-- page_style */
.parag_style.style_link a {
  transition: 0.5s;
  color: var(--baltic_sea);
}

.parag_style.style_link a:hover,
.parag_style.style_link a:focus,
.parag_style.style_link a:active {
  color: var(--lightning_yellow);
}

.page_style .parag_style h2,
.page_style .parag_style h3 {
  color: var(--baltic_sea);
}

.img_page {
  width: initial;
  margin-top: 45px;
}

.page_style .list_student {
  margin: 60px 0;
  text-align: center;
  column-count: 5;
  -moz-column-count: 5;
  -webkit-column-count: 5;
}

.page_style .list_student a {
  font-size: 21px;
  text-align: center;
  color: var(--baltic_sea);
}

.page_style .list_student div:hover,
.page_style .list_student div:focus,
.page_style .list_student dvi:active {
  color: var(--lightning_yellow);
}

.page_style .list_student .img_icon {
  width: 100px;
  height: 100px;
  transition: 0.5s;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 25px;
  color: var(--lightning_yellow);
  background: var(--venice_blue);
  cursor: pointer;
}

.page_style .list_student a:hover .img_icon,
.page_style .list_student a:focus .img_icon,
.page_style .list_student a:active .img_icon {
  color: var(--venice_blue);
  background: var(--lightning_yellow);
}

/*-- slider_galerie */
.page_style .slider_galerie {
  margin-top: 60px;
}

.page_style .img_galerie {
  height: 350px;
}

/*-- aboutus_page */
.aboutus_page .img_page {
  width: initial;
  margin-top: 0;
  margin-bottom: 45px;
}

.aboutus_page .parag_style,
.our_philosphy .parag_style {
  text-align: center;
}

.our_philosphy .parag_style {
  margin-bottom: 45px;
}

.our_philosphy h3 {
  color: var(--lightning_yellow);
}

/*-- partenaire_block */
.partenaire_block {
  padding: 45px 0;
  margin-bottom: 45px;
}

.partenaire_block .image_partenaire {
  height: 300px;
  padding: 15px;
}

.ti-widget.ti-goog .ti-widget-container .ti-review-item > .ti-inner {
  background-color: #fff !important; /*put here whatever I want*/
}

.card-img {
  opacity: 25%;
  display: block;
  margin: auto;
  padding-top: 160px;
  object-fit: cover;
  width: 100%;
}
.cover-img-contact {
  filter: blur(2px);
  opacity: 25%;
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
}

.cover-img {
  filter: blur(2px);
  opacity: 15%;
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
}

.course-card-img {
  width: 100%;
  opacity: 20%;
  display: block;
  margin: auto;
  height: 35vh;
  object-fit: cover;
}

.course-card-img-ar {
  width: 100%;
  opacity: 8%;
  display: block;
  margin: auto;
  object-fit: cover;
  max-height: 50vh;
}

.blue-text {
  color: var(--venice_blue);
}

.yellow-text {
  color: var(--lightning_yellow);
}

.box-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(72, 78, 85, 0.6);
  box-shadow: 0 1px 1px rgba(72, 78, 85, 0.6);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.box-shadow:hover {
  -webkit-box-shadow: 0 5px 10px rgba(72, 78, 85, 0.6);
  box-shadow: 0 5px 10px rgba(72, 78, 85, 0.6);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none !important;
}

.fixed-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
